@page
@model List<Application.ViewModels.GeneroViewModel>
<h1>Listado de Productora</h1>

<button type="button" class="btn btn-success" onclick="ShowModal()">Crear Genero</button>

<table class="table">
    <thead>
        <tr>
            <th>Genero de la serie</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
   
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="crearSerieForm" asp-action="Crear" method="post">
                   
                    <div class="form-group">
                        <label for="nombreSerie">Nombre de la Productora</label>
                        <input type="text" class="form-control" id="nombreSerie" name="nombreSerie" required>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>

                </form>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    function ShowModal() {

        $("#exampleModal").modal('show');
    }
</script>